@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.color1 { background-color: #d0d9e7; }
.color2 { background-color: #559ea3; color: white; }
.color3 { background-color: #d9e7d5; }
.color4 { background-color: #eff1e6; }
.color5 { background-color: #f9f9f9; }

body {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #eff1e6, #d0d9e7); 
    box-sizing: border-box;
}

.floating-title {
    font-size: 120px;
    font-weight: bold;
    color: #559ea3; 
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    animation: float 3s ease-in-out infinite;
    z-index: 10;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}


@keyframes float {
    0%, 100% {
        transform: translate(-50%, 0);
    }
    50% {
        transform: translate(-50%, -10px);
    }
}

.container {
    display: flex;
    width: 90%;
    max-width: 1400px;
    background: #f9f9f9; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    overflow: hidden;
    transition: transform 0.3s ease;
    z-index: 1; 
    margin-top: 100px;
    margin-bottom: 70px;
}

.container:hover {
    transform: scale(1.02);
}

.profile, .projects {
    padding: 40px;
    flex: 1;
    position: relative; 
}

.profile {
    background: #d9e7d5; 
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: left;
    animation: fadeInLeft 1s ease-out;
    padding-left: 20px;
}

.profile-img {
    width: 250px;
    height: 250px;
    border-radius: 0%;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: 45px;
    align-self: flex-start; 
}

.profile h2 {
    color: #559ea3; 
    font-size: 40px;
    margin-bottom: 20px;
    text-align: left;
}

.profile p {
    color: black;
    font-size: 20px;
    margin: 10px 0;
    display: flex;
    text-align: left;
}

.phone, .email, .birthday, .school, .location {
    position: absolute;
}

.phone {
    top: 160px; 
    left: 290px; 
}
.location {
    top: 205px; 
    left: 290px; 
    
}

.email {
    top: 295px; 
    left: 290px; 
}

.school {
    top: 250px; 
    left: 290px; 
}

.birthday {
    top: 115px;
    left: 290px;
}

.profile .icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    color: black; 
}

.profile .hover-effect:hover {
    background-color: #eff1e6; 
    color: black; 
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 9px;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.projects {
    background: #eff1e6; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    animation: fadeInRight 1s ease-out;
}

.projects h2 {
    color: #559ea3; 
    font-size: 40px;
    margin-top: 50px;
    padding-top: 0;
    margin-bottom: -5px;
}

.projects ul {
    list-style: none;
    padding: 0;
}

.projects li {
    margin: 10px 0;
    
}

.projects a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: color 0.3s ease;
}

.projects a:hover {
    color: #559ea3; 
    background-color: none; 
    padding: 5px;
    text-decoration: underline;
    font-weight: bold;
    border-radius: 5px;
}

.github-link {
    margin-top: 15px;
}

.github-link a {
    text-decoration: none;
}

.github-icon {
    width: 60px;
    height: 60px;
    transition: transform 0.3s ease;
    margin-bottom: 40px;
}

.github-icon:hover {
    transform: scale(1.3);
    background-color: #eff1e6; 
}

/* Buttons */
button {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    background-color: #d0d9e7; 
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 60px;
    width: 200px;
    
}

.buttons-container {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
    margin-top: 20px; 
}

button:hover {
    background-color: #eff1e6; 
}


.highlight {
    background-color: #d0d9e7; 
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.projects .hover-effect:hover {
    color: white; 
    background-color: #d9e7d5; 
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.popup-container {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
    z-index: 999; 
}
.popup-container.active {
    display: flex; 
}
.popup {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1400px;
    background: #f9f9f9; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    overflow: hidden;
    transition: transform 0.3s ease;
    z-index: 1; 
    margin-top: 100px;
    margin-bottom: 70px;
    position: relative;
    padding: 20px;
}





.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: black;
}
.open-popup-btn {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

.popup-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.column {
    flex: 1;
    padding: 15px;
    margin: 10px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
